<a href="https://colab.research.google.com/github/cmd1301/coffee_ML_prediction/blob/main/coffee_proj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = "https://raw.githubusercontent.com/cmd1301/coffee_ML_prediction/main/datasets/arabica_data_cleaned.csv"

In [4]:
df = pd.read_csv(url)
df.head()

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [5]:
def replace_dot_with_underscore(column_name):
    return column_name.replace('.', '_')

df = df.rename(columns=replace_dot_with_underscore)
df.head()

,Unnamed: 0,Species,Owner,Country_of_Origin,Farm_Name,Lot_Number,Mill,ICO_Number,Company,Altitude,...,Color,Category_Two_Defects,Expiration,Certification_Body,Certification_Address,Certification_Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [9]:
# Select the columns I'll be using for the analysis
cols = ['Country_of_Origin', 'Region',
       'Harvest_Year', 'Variety',
       'Processing_Method', 'Total_Cup_Points',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters']

df2 = df[cols]

,Country_of_Origin,Region,Harvest_Year,Variety,Processing_Method,Total_Cup_Points,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,Ethiopia,guji-hambela,2014,NaN,Washed / Wet,90.58,1950.0,2200.0,2075.0
1,Ethiopia,guji-hambela,2014,Other,Washed / Wet,89.92,1950.0,2200.0,2075.0
2,Guatemala,NaN,NaN,Bourbon,NaN,89.75,1600.0,1800.0,1700.0
3,Ethiopia,oromia,2014,NaN,Natural / Dry,89.00,1800.0,2200.0,2000.0
4,Ethiopia,guji-hambela,2014,Other,Washed / Wet,88.83,1950.0,2200.0,2075.0

In [33]:
# DF shape
df2.shape

(1311, 9)

In [10]:
# Change the target column position
last_col = df2.pop('Total_Cup_Points')
df2.insert(len(df2.columns), 'Total_Cup_Points', last_col)
df2.head()

,Country_of_Origin,Region,Harvest_Year,Variety,Processing_Method,altitude_low_meters,altitude_high_meters,altitude_mean_meters,Total_Cup_Points
0,Ethiopia,guji-hambela,2014,NaN,Washed / Wet,1950.0,2200.0,2075.0,90.58
1,Ethiopia,guji-hambela,2014,Other,Washed / Wet,1950.0,2200.0,2075.0,89.92
2,Guatemala,NaN,NaN,Bourbon,NaN,1600.0,1800.0,1700.0,89.75
3,Ethiopia,oromia,2014,NaN,Natural / Dry,1800.0,2200.0,2000.0,89.00
4,Ethiopia,guji-hambela,2014,Other,Washed / Wet,1950.0,2200.0,2075.0,88.83

In [31]:
# Verify presence of null and nan values:
df2.isna().sum()

Country_of_Origin         1
Region                   57
Harvest_Year             47
Variety                 201
Processing_Method       152
altitude_low_meters     227
altitude_high_meters    227
altitude_mean_meters    227
Total_Cup_Points          0
dtype: int64

In [28]:
# Get to know a little bit further about the data, mainly if we have misspelled words, same information with different writting, wrong type of data, etc.
df2['Region'].value_counts()

huila                              112
oriente                             80
south of minas                      68
kona                                66
veracruz                            35
                                  ...
berastagi                            1
sapan toraja                         1
south huila                          1
mt elgon                             1
department d'artibonite , haiti      1
Name: Region, Length: 343, dtype: int64

- mudar altitude para int
- mudar os anos em haverst year, deixar só ano, os que são dois anos deixr so o primeiro
- retirar NaN